<html>
<html lang="en-US">
<!-- MSOD help version 2.0     1/21/16  this version puts links in left vertical bar, to make it look more like the API page -->
<!-- /help/html/index.html  -->

<head>
<title>MSOD Help</title>
<style>
body{
  margin:0;
}

ul{    
  list-style-type:none;
  margin:0;
  padding:0;
  width:15%;
  background-color:#014d73;   
  position:fixed;
  height:100%;
  overflow:auto;  
}

li a{   
  display:block;
  color: white;    
  padding:8px 0 8px 16px;
  text-decoration:none;
}

li a:hover:not(.active){   
  background-color: #008080;    
  color: white;
}
</style>
</head>

<body>
<!-----------------------LIST OF HELP TOPICS--------------->

  <ul>
      <li><a class="active"><u>MSOD HELP</u></a></li>
      <li><a href="#select a sensor"> Select a sensor</a></li>
      <li><a href="#download data"> Download data</a></li>
      <li><a href="#view data"> View Data</a></li>
      <li><a href="#what is shown on Radar Sensor plots"> Radar Sensor plots</a></li>
      <li><a href="#what is shown on LTE Sensor plots"> LTE Sensor plots</a></li>
      <li><a href="#msod references"> Download publications</a></li>
      <li><a href="#API page"> API documentation</a></li>
      <li><a href="#MSOD contacts"> MSOD contacts</a></li>
   </ul>

<div style="margin-left:15%;padding:1px 16px;height:100%;">

<h2 id="select a sensor"> Measured Spectrum Occupancy Database (MSOD) Help </h2>

<b>NOTE: Your MSOD session will time out if you do not click on the MSOD: Home tab after a short time.</b><br>
<p style=font-size:85%;"> Do not navigate using the browser forward and back arrows. Use the links on the menu bars on each page.
                          <br>If the sensor map stops scrolling correctly please logout, close and re-open your browser and login for a new session.<br><br>
                          Click on a topic to the left, or scroll down to browse the help sections.<br>
</p>

<!-----------------------SELECT A SENSOR SECTION--------------->

   <h3> <u> SELECT A SENSOR </u> </h3>
   <p style="font-size:85%;">&nbsp;&nbsp; You can select and view data from one sensor at a time. <br><br>
      &nbsp;&nbsp; Sensor icons are placed on the map in locations where spectrum data is available.
      Properties of a sensor will pop up when you place the mouse cursor over a sensor icon. 
   </p>
   <p style="font-size:85%;color:teal"><b> &nbsp;&nbsp;LTE sensor icons are teal.</b>
   </p>
   <p style="font-size:85%;color:orange"><b> &nbsp;&nbsp;Radar sensor icons are orange.</b>
   </p>
   <p style="font-size:85%;">&nbsp;&nbsp; Select 'Show Markers by Freq Band' or 'Show Markers by Detected System' from the map page main menu bar to narrow down Sensor selection.
      Left click on a sensor icon to select that sensor.  <br><br>
      &nbsp;&nbsp; Information about the sensor you click on will appear to the left of the map:<br>
      &nbsp;&nbsp;&nbsp;&nbsp; you must click on one of the available frequency bands listed there at the bottom to continue on to view or download data.
   </p>

<!----------------------- DOWNLOAD DATA SECTION--------------->

   <h3 id="download data"> <u> HOW TO DOWNLOAD DATA </u> </h3>
   <p style="font-size:85%;">&nbsp;&nbsp; After selecting a sensor and frequency band to view, you can download data. <br><br>
      &nbsp;&nbsp; Left click on the 'Download Data' item on the menu bar above the map. This will take you to the download data page. <br><br>
      &nbsp;&nbsp; Wait until the data is ready: a link to download will appear on the page. If you prefer, click on the 'submit' button to receive the link to the data in an e-mail when the data is ready.<br><br>
      &nbsp;&nbsp; To return to the map page, left click on the 'Available Sensors' item on the menu bar.<br>
   </p>

<!-----------------------VIEW DATA: SELECTION OF START DATE AND DURATION SECTION --------------->

   <h3 id="view data"> <u> VIEW DATA: SELECTION OF START DATE AND DURATION </u> </h3> 
   <p style="font-size:85%;">&nbsp;&nbsp; After selecting a sensor and frequency band to view, you will see a map with sensor information listed to the left. If the frequency band you selected can be viewed in a sub-band, you can now enter the max and min frequency (MHz) for the sub-band of interest.<br><br>
      &nbsp;&nbsp; Start date, number of days and number of aquisitions for the band you selected are shown above the map. <br><br>
      &nbsp;&nbsp; From the menu bar above the map, left click on 'Generate Daily Occupancy Chart' to continue and view plots. <br>
   </p>

<!-----------------------WHAT IS SHOWN ON THE PLOTS SECTION--------------->
<!               ----------------Radar Sensors                 >

   <h3 id="what is shown on Radar Sensor plots"> <u> WHAT IS SHOWN ON THE PLOTS </u> </h3> 
   <h4>&nbsp;&nbsp; <u> RADAR SENSOR </u> </h4>
   <p style="font-size:85%;">&nbsp;&nbsp;&nbsp;&nbsp;After clicking on 'Generate Daily Occupancy Chart', you will see a plot of the daily occupancy.<br>
                             &nbsp;&nbsp;&nbsp;&nbsp;Left click on a point on the chart to see two tabs: one with a Single Day spectrogram and one with occupancy information.<br>
                             &nbsp;&nbsp;&nbsp;&nbsp;Left clicking on a point on the spectrogram or occupancy plot will open a tab with more information. Click on the tab to view that data.<br>
                             &nbsp;&nbsp;&nbsp;&nbsp;To navigate back through the plots, left click on one of the items in the menu bar: 'Available Sensors' >> 'Daily Occupancy'
      </p>

<!               ----------------LTE Sensors                 >

   <h4 id="what is shown on LTE Sensor plots">  &nbsp;&nbsp; <u> LTE SENSOR </u> </h4>
      <p style="font-size:85%;">&nbsp;&nbsp;&nbsp;&nbsp;After clicking on 'Generate Daily Occupancy Chart', you will see a plot of the daily occupancy.<br>
                             &nbsp;&nbsp;&nbsp;&nbsp;Left click on a point on the chart, and you will see a plot of that day's occupancy. <br>
                             &nbsp;&nbsp;&nbsp;&nbsp;Left click on a point on the plot of Single Day Occupancy to see Acquisition Detail.<br>
                             &nbsp;&nbsp;&nbsp;&nbsp;The Acquisition Detail is given on two tabs: one with a spectrogram and the other with occupancy information.<br>
                             &nbsp;&nbsp;&nbsp;&nbsp;Left clicking on a point on the spectrogram or occupancy plot will open a tab with more information. Click on the tab to view that data.<br>
                             &nbsp;&nbsp;&nbsp;&nbsp;To navigate back through the plots, left click on one of the items in the menu bar: 'Available Sensors' >> 'Daily Occupancy' >> 'Single day Occupancy'
      </p>

<!--------------------MSOD REFERENCES SECTION --------------->

   <h3 id="msod references"> <u> MSOD REFERENCES </u> </h3>
   <p style="font-size:85%;"> These papers contain more information on the MSOD project and spectrum monitoring. 
   Click on the title to open a new tab to the Institute for Telecommunications Sciences site where the paper can be downloaded.<br></p>
   <b>NOTE: Your MSOD session will time out if you do not click on the MSOD: Home tab after a short time.</b>
   <h5><p>
    &nbsp;&nbsp; <a href="http://www.its.bldrdoc.gov/publications/2747.aspx" target="_blank"> Spectrum Occupancy Measurements of the 3550-3650 MHz Maritime Radar Band Near San Diego, CA (NTIA TR-14-500)</a><br><br>
    &nbsp;&nbsp; <a href="http://www.its.bldrdoc.gov/publications/2794.aspx" target="_blank"> An Overview of the NTIA/NIST Spectrum Monitoring Pilot Program</a><br><br>
    &nbsp;&nbsp; <a href="http://www.its.bldrdoc.gov/publications/2808.aspx" target="_blank"> RF Sensors for Spectum Monitoring Applications:Fundamentals and RF Performance Test Plan (NTIA TR-15-519)</a><br>
   </p></h5>

<!--------------------Open new tab for API page --------------->

   <h3 id="API page"> <u> API DOCUMENTATION </u> </h3>
   <p style="font-size:85%;"> Please click on the link below to open a tab to the API documentation.<br></p>
   <b>NOTE: Your MSOD session will time out if you do not click on the MSOD: Home tab after a short time.</b><br>
   <br>
   &nbsp;&nbsp; <a href="../../api/html/index.html" target="_blank">API documentation</a>

<!---------------------- MSOD email and phone contacts section ------------>

   <h3 id="MSOD contacts"> <u> MSOD CONTACTS </u> </h3>
   <p style="font-size:85%;"> Please use the information below to contact the system administrator. <br><br>
   
     &nbsp;&nbsp; System administrator</a>&nbsp;&nbsp; {{adminName}}  <br>
     &nbsp;&nbsp; Contact Number: {{adminNumber}} <br>
     &nbsp;&nbsp; <a href="mailto:{{adminEmail}}"> Email: </a>&nbsp;&nbsp; {{adminEmail}} <br><br><br>
   </p>
</div>
</body>
</html>
